<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>BLOG APP</h1>
    <p>Welcome to My Blog</p>
    <button class="btn"><a href="/articles">All Articles</a></button>
  </body>
</html>